.card {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  //border: 1px solid $border;
  border-radius: 10px;
  background-color: $background-item;
  box-shadow: $shadow;
  overflow: hidden;
  max-width: 280px;

  img {
    display: block;
    max-height: 100%;
    object-fit: contain;
    max-width:100%;
    max-height:100%;;
    box-sizing: content-box;
  }

  .body {
    padding: 20px;
    flex: 1 1 auto;
    padding: 0px 20px;
    text-align: center;

    .title {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
      font-size: 1.2em;
    }

    .text {
      margin-top: 0;
      margin-bottom: 1rem;
      color: $foreground-muted;
    }
  }

  .footer {
    padding: 10px;
    padding-top: 0px;

    button,
    .button {
      margin-left: 0;
    }
  }
}

a.card {
  color: $foreground;
  border: 2px solid transparent;
  transition: border 150ms ease;
}

a.card:hover,
a.card:focus {
  border: 2px solid $accent;
}

a.card::after {
  display: none;
}


.card.no-padding{
    padding: 0px;
}