nav {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-around;
  background-color: $background-nav;
  align-items: center;
  vertical-align: bottom;
  padding: 1% 10px;
  transition: $transition;
  box-shadow: $shadow;
  backdrop-filter: blur(0px);

  a {
    color: $foreground-nav;
    padding: 0px 10px;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li:hover ul {
      opacity: 1;
      pointer-events: all;
      transition: $transition;
    }

    ul {
      box-shadow: $shadow;
      opacity: 0;
      pointer-events: none;
      list-style: none;
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: $background-nav;
      border-radius: 10px;
      padding-top: 1em;
      padding-bottom: 0.5em;
      transition: $transition;

      a {
        padding: 10px 30px;
      }
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: right;

    button, a {
      margin: 5px;
      cursor: pointer;
    }
  }
}

nav.scrolled {
  padding: 0px;
  opacity: 0.8;
  backdrop-filter: blur(10px);
}

a.link {
  text-decoration: none;
  color: $accent;
  display: inline-block;
}

a.link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: $accent;
  transition: $transition;
}

a {
  text-decoration: none;
}

button,
.button {
  background: $accent;
  color: $foreground-accent;
  padding: 5px 20px;
  border: 2px solid $accent;
  border-radius: 10px;
  transition: $transition;
  margin: 5px 10px;
  cursor: pointer;
}

button::after, .button::after {
  display: none;
}

button.hollow,
.button.hollow {
  color: $accent-foreground;
  border: 2px solid $accent;
  background: none;
}

button:hover,
.button:hover,
button.hollow:hover,
.button.hollow:hover {
  background: $accent-hover;
  color: $foreground-accent;
  border-color: $accent-hover;
}

button.hollow:active,
button:active,
.button.hollow:active,
.button:active {
  background: $accent-click;
  color: $foreground-accent;
  border-color: $accent-click;
}
