// Theia by Somfic
$transition : all ease 150ms;

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 100%;
}

html {
    height: 100%;
    display: flex;
}

body {
    background-color: $background;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main {
    margin: 20px 10%;
    flex-grow: 1;
}

footer {
    height: 80px;
    background-color: $background-nav;
}

// Navigation
@import './navigation';

// Forms
@import './form'; 

// Cards
@import './card';

// Text
@import './type';

// Flexbox
@import './flex';

// Margins
@import './margins';

// Articles
@import './article'; 

.outline {
    border: 1px solid $border;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}