@import url("https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');

nav {
.title {
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 500;
  font-size: 1.5rem;
}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: normal;
}

* {
  font-family: "Karla", sans-serif;
  color: $foreground;
  font-size: 1em; /* 16 / 16 */
  line-height: 1.5em; /* 24 / 16 */
}

body {
  font-size: 100%;
}

h1, .h1 {
  font-size: 3em; /* 48 / 16 */
  line-height: 1em; /* 48 / 48 */
  margin-top: 0.5em; /* 24 / 48 */
}

h2, .h2 {
  font-size: 2.25em; /* 36 / 16 */
  line-height: 1.333333333333333em; /* 48 / 36 */
  margin-top: 0.6666666666666667em; /* 24 / 36 */
}

h3, .h3 {
  font-size: 1.5em; /* 24 / 16 */
  line-height: 1em; /* 24 / 24 */
  margin-top: 1em; /* 24 / 24 */
}

h4, .h4 {
  font-size: 1.3125em; /* 21 / 16 */
  line-height: 1.142857142857143em; /* 24 / 21 */
  margin-top: 1.142857142857143em; /* 24 / 21 */
}

h5, .h5 {
  font-size: 1.125em; /* 18 / 16 */
  line-height: 1.333333333333333em; /* 24 / 18 */
  margin-top: 1.333333333333333em; /* 24 / 18 */
}

h6, .h6 {
  font-size: 1em; /* 16 / 16 */
  line-height: 1.5em; /* 24 / 16 */
  margin-top: 1.5em; /* 24 / 16 */
}

p {
  margin-bottom: 0.5em;
}

.text-center {
  text-align: center;
}

.muted {
  color: $foreground-muted;
}

.dark {
  color: $foreground-dark;
}